.final-details-download-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #eee1e1;
  border-radius: 10px;
  border: 1px solid #1a1717;
}

.final-details-section,
.download-section,
.about-us-section {
  margin-bottom: 30px;
  font-size: 18px;
  align-items: center;
  margin-top: 40px;
  border: 1px solid #131010;
  padding: 20px;
}

.final-details-section h2,
.download-section h2,
.about-us-section h2,
.lease-renewal h3,
.leased-property h3 {
  margin-bottom: 15px;
}

.leased-property {
  margin-top: 40px;
}

.renewal-options {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.renewal-button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 14px;
  border-color: #333;
  border: 2px solid #1b1919;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out; 
}

.renewal-button:hover {
  background-color: #f5984d;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-button-container {
  text-align: right;
}

.download-button {
  padding: 5px 15px;
  background-color: #f7f3ed;
  border-color: #333;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  
}

.download-button:hover {
  background-color: #f59e25;
  
 
}

.about-us-section {
  margin-bottom: 30px;
  font-size: 18px;
  align-items: center;
  margin-top: 40px;
  border: 1px solid #221d1d;
  padding: 20px;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.legal-docs-info {
  margin-right: 20px;
}

.contact-info {
  margin-right: 20px;
}

.legal-docs-logo {
  width: 100px;
}

.logo-text {
  font-size: 22px;
}

.social-icons {
  display: flex;
}

.social-icon {
  margin-right: 10px;
}

.social-icon img {
  width: 20px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 20px;
}

.footer-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.note {
  font-size: 0.9em;
  color: #555;
}
#controls {
  margin-top: 10px;
}

#clear-button, #save-button {
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid #2b2727; 
  border-radius: 4px; 
  background-color: #f0f0f0; 
  transition: background-color 0.3s ease; 
}

#clear-button:hover, #save-button:hover {
  background-color: #f7a429; 
}

#clear-button:active, #save-button:active {
  background-color: #d0d0d0; 
  transform: translateY(1px); 
}