.lease-form-container {
    font-family: sans-serif;
    margin-bottom: 30px;
    font-family: sans-serif;
    border: 1px solid #1d1919; 
    border-radius: 8px;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .top-bar-item {
    display: flex;
    align-items: center;
  }
  
  .top-bar-item .icon {
    margin-right: 8px;
    font-size: 1.5em;
  }
  
  .progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .step-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .step.completed .step-icon {
    background-color: #4CAF50;
    color: white;
  }
  
  .step.error .step-icon {
    background-color: #f44336;
    color: white;
  }
  
  .step.pending .step-icon {
    border: 2px solid #ccc;
    color: #ccc;
  }
  
  .step-label {
    font-size: 0.9em;
  }
  
  .step-separator {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 10px;
  }
  
  .content {
    background-color: #eee1e1;
    padding: 20px;
    border-radius: 8px;
  }
  
  .section {
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .section h2 {
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-size: 20px;
    
  }
  
  .form-group select {
    padding: 8px;
    border: 2px solid #0c0a0a;
    border-radius: 4px;
  }
  
  .note {
    font-size: 0.9em;
    color: #555;
    margin-top: 10px;
  }