.parties-property-container {
  font-family: sans-serif;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 8px;
}

.parties-section,
.property-section {
  margin-bottom: 40px;
  background-color: #eee1e1;
  padding: 20px;
  font-family: sans-serif;
  border: 1px solid #110e0e;
  border-radius: 8px;
}

.parties-section h2,
.property-section h2,
.landlord-details h3,
.leased-property h3 {
  margin-bottom: 15px;
  
}

.type-selection {
  display: flex;
  margin-bottom: 20px;
  font-size: 16px;
 
}

.type-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: 2px solid #1a1616; 
  border-radius: 5px;
  cursor: pointer;
  background-color: #f2f5f7;
  color: rgb(32, 20, 20);
  transition: background-color 0.3s ease;
}

.type-button:hover {
  background-color: #f5ae43;
  border: 2px solid #1a1616; 
}

.type-button.active {
  background-color: #ffcc80;
  border: 2px solid #1a1616; 
  color: black;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 20px;
}

.form-group input {
  padding: 8px;
  border: 1px solid #1d1818;
  border-radius: 4px;
}

.property-section .form-group input {
  width: 100%;
}

.note {
  font-size: 0.9em;
  color: #b66464;
  margin-top: 10px;
}