.final-details-download-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #eee1e1;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.final-details-section,
.download-section,
.about-us-section {
  margin-bottom: 30px; /* Increased margin-bottom for more separation */
  font-size: 18px;
  align-items: center;
  margin-top: 40px;
  border: 2px solid #ccc;
  padding: 20px;
}

.final-details-section h2,
.download-section h2,
.about-us-section h2,
.lease-renewal h3,
.leased-property h3 {
  margin-bottom: 15px;
}

.leased-property {
  margin-top: 40px;
}

.renewal-options {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.renewal-button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 14px;
  border-color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.renewal-button.active {
  background-color: #ffcc80;
  border-color: #333;
}

.download-button-container {
  text-align: right;
}

.download-button {
  padding: 5px 15px;
  background-color: #ffcc80;
  border-color: #333;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.about-us-section {
  /* Styles for the "About us" section to group its content */
  margin-bottom: 30px;
  font-size: 18px;
  align-items: center;
  margin-top: 40px;
  border: 2px solid #ccc;
  padding: 20px;
}

.about-content {
  /* Styles to arrange the content within "About us" */
  display: flex;
  flex-direction: row; 
  font-weight: 46px;/* Arrange items in a row (side-by-side) */
  justify-content: space-between; /* Distribute space between items */
}

.legal-docs-info {
  /* Styles for the logo and its description */
  margin-right: 20px;
   /* Add space between logo and contact info */
}

.contact-info {
  /* Styles for contact info section */
  margin-right: 20px; /* Add space between contact info and social media */
}

.legal-docs-logo {
  width: 100px;
  
}
.logo-text {
  font-size: 22px; /* Adjust the font size as needed */
}
.social-icons {
  display: flex;
}

.social-icon {
  margin-right: 10px;
}

.social-icon img {
  width: 20px;
  height: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 20px; /* Reduced font size */
}

.footer-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.note {
  font-size: 0.9em;
  color: #555;
}